<?php
/** @var Cart $this */

//use Dividebuy\CheckoutConfig\Block\Cart;
$blockObj= $block->getLayout()->createBlock('Dividebuy\CheckoutConfig\Block\Cart');
$blockObj->getProductId();
$currencysymbol = $this->getSymbol();
$maxInstalmentKey = $this->getMaxInstalmentKey();
$bannerBackgroundColor = $this->getBannerBackgroundColor();
$rep_amount = $blockObj->GetAvgIbcOrderVal();
if($rep_amount == 0){
    $rep_amount = 2000;
}
$rep_interestRate = $blockObj->GetAprRate();
$rep_numberOfMonths = $blockObj->GetAvgIbcTermLen();
if($rep_numberOfMonths == 0){
    $rep_numberOfMonths = $maxInstalmentKey;
}
$product_promotion_text = $blockObj->getProductPromotionText();
$terms_condition_url = $blockObj->getTermsAndConditionsUrl();
$ibc_installments = $blockObj->getIbcInstallments();
?>
<?php if ($this->checkDivideBuy()): ?>
  <?php $data = $this->checkDivideBuy(); ?>
  <?php if ($data['status'] && $data['dividebuy_enable']): ?>
        <div class="dividebuy">
            <div class="dividebuy_logo_section tooltip-logo" tabindex="0">
                <div class="tool-tip-position-left">
                    <div id="dividebuy_image_after_cart" class="tooltip-width pull-left dividebuy-calculator" style="display:none;">
                        <div id="dividebuy-text" class="active">
                            <span class="dividebuy-left-text"><span id="dividebuy-lowest"></span><img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/logobanner.png'); ?>"/></span>
                        </div>
                        <div class="dividebuy__tooltip-container">
                            <a href="javascript:void(0)" id="dividebuy_tooltip_open"> Click Here to find out more.</a>
                        </div>
                        <div id="dividebuy-credit-subject">
                            <a href="https://dividebuy.co.uk/terms-and-conditions" target="_blank" class="credit_subject">Credit subject to status. T&amp;Cs apply.</a>
                        </div>
                        <div class="dividebuy-tooltip" style="display:none">
                            <div class="dividebuy-interestfree-logo">
                                <img src="<?php echo $this->getViewFileUrl('Dividebuy_CheckoutConfig::images/logobanner.svg'); ?>"alt="dividebuy-logo">
                            </div>
                            <p class="dividebuyNote">The value shown here also includes the total value of your basket</p>
                            <div class="dividebuy-tooltip-content"></div>
                            <p class="dividebuy__unreg-disclaimer">
                                *Interest free credit agreements of 12 months or less are not regulated by the Financial Conduct Authority and are not subject to the jurisdiction of the Financial Ombudsman Service.
                            </p>
                            <div class="dividebuy-representative-text">
                                <?php echo $blockObj->getRepresentativeAprExampleHtml($rep_amount, $rep_interestRate, $rep_numberOfMonths);?>
                            </div>
                            <div class="dividebuy__terms-and-conditions">
                                <p class="dividebuy__risk-warning">
                                    Finance is provided by Zopa Bank Limited, trading as DivideBuy. Lending is subject to your
                                    individual circumstances and satisfactory completion of Zopa Bank Limited’s credit checks.
                                    It is important that you do not take on more borrowing than you can afford. If you miss your
                                    repayments this may impact your credit rating and make it more difficult to obtain credit in
                                    the future. Lending is subject to Zopa Bank Limited’s terms and conditions.
                                </p>
                            </div>
                            <?php if (!empty($terms_condition_url)) { ?>
                                <div class="dividebuy__terms-and-conditions_url">
                                    <a href="<?= htmlspecialchars($terms_condition_url, ENT_QUOTES, 'UTF-8'); ?>" target="_blank">
                                            Full credit terms and conditions
                                    </a>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="dividebuy-representative-text representative-text-size" style="display: none;">
                        <strong>Representative APR:</strong>
                        <span id="apr-rate"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="dividebuy-softsearch-content">
                <!-- Checking if product page softsearch is enabled or not. -->
                <?php if ($data['softsearch_enable']): ?>
                    <div class="dividebuy-softsearch dividebuy-text-left">
                        <a href="javascript:void(0)" id="dividebuy-softsearch-text"
                         class="link-dividebuy-softsearch-product"><span> <img
                                      src="<?php echo $this->getViewFileUrl(
                                        'Dividebuy_CheckoutConfig::images/mini-logo.svg'
                                      ); ?>"
                                      alt="dividebuy-logo"/>Check your eligibility</span>
                                  </a>
                      <p class="dividebuy-fastcheck-text">Fast check - won't affect your credit rating.</p>
                    </div>
                <?php endif; ?>
            </div>
        </div>
  <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'Magento_Swatches/js/swatch-renderer',
            'text!Dividebuy_CheckoutConfig/templates/modal/modal-popup.html'        
            ],
        function ($, modal, popupTpl) {

            if ($(".product-info-price .price").html() !== undefined) {
                var price = $(".product-info-price .price").html();
            } else if ($(".product-info-price .price-box .price").html() !== undefined) {
                var price = $(".product-info-price .price-box .price").html();
            } else if ($(".product-info-main .price-box.price-final_price .price").html() !== undefined) {
                var price = $(".product-info-main .price-box.price-final_price .price").html();
            }else {
                var price = $(".product-info-price .price-to .price").html();
            }

            if (price === undefined) {
                price = $(".special-price .price").html();
            }

            if (price === undefined) {
                var priceCollection = $(".grouped > table > tbody").find(".price-wrapper");
                var amount = [];
                $.each(priceCollection, function (i, item) {
                    amount.push($(item).attr("data-price-amount"));
                });
                price = "<?php echo $currencysymbol; ?>" + parseFloat(Math.max.apply(Math, amount)).toFixed(2);
            }

            price = $.trim(price);
            price = price.replace('£', '');
            price = price.replace(',', '');

            // Adding tooltip Content
            displayProductTooltip(price);

            // Open modal on some trigger, e.g., button click
            $("#dividebuy_tooltip_open").click(function () {
                $('#dividebuy-modal').modal('openModal');
                $(".modals-wrapper").addClass("dividebuy-tooltip-modal");
                var tooltipHtml = $('.dividebuy-tooltip').clone();
                $('#frame-dividebuy-softcredit-check').remove();
                tooltipHtml.css('display', 'block');
                $('#dividebuy-modal-container').append(tooltipHtml);
            });
            jQuery(document).on('modalclosed', '.dividebuy-tooltip-modal #dividebuy_modal', function (e) {
                jQuery(".modals-wrapper").removeClass("dividebuy-tooltip-modal");
                jQuery('#dividebuy-modal-container .dividebuy-tooltip').remove();
            });
            jQuery(document).on('keydown', function (e) {
                // Check if the Escape key was pressed
                if (e.key === "Escape") {
                    // Trigger modal close logic
                    jQuery('#dividebuy-modal').modal('closeModal');
                    jQuery(".modals-wrapper").removeClass("dividebuy-tooltip-modal");
                    jQuery('#dividebuy-modal-container .dividebuy-tooltip').remove();
                }
            });

            // Displaying tooltip based on product quantity changed by user.
            jQuery(".field.qty #qty").on("keyup", function () {
                displayProductTooltip(price);
            });

            // Function for generation tooltip instalment content.
            function displayProductTooltip(productPrice) {
                // Getting product quantity
                var productQuantity = jQuery(".field.qty #qty").val();
                if (productQuantity !== "" && productQuantity > 1) {
                    productPrice = productPrice * productQuantity;
                }

                // Function call for getting minimum instalment value.
                var minimumInstalmentUrl = '<?php echo $this->getUrl("dbconfig/index/getmininstalmentamount"); ?>';
                $.ajax({
                    type: 'post',
                    url: minimumInstalmentUrl,
                    data: {price: productPrice, tooltipType: "product"},
                    dataType: "json",
                        success: function(data){
                            tooltip_text = data.tooltip_text;
                            instalments_ibc = data.instalments_ibc;
                            apr_rate = data.apr_rate;
                            if(apr_rate && Array.isArray(instalments_ibc) && instalments_ibc.length != 0){
                                $(".dividebuy-representative-text.outside-modal").hide();
                                $("#apr-rate").text(apr_rate + "%");
                                $(".dividebuy-representative-text.representative-text-size").fadeIn();
                            }else if(apr_rate && Array.isArray(instalments_ibc) && instalments_ibc.length === 0){
                                $("#apr-rate").text(0 + "%");
                                $(".dividebuy-representative-text.representative-text-size").fadeIn();
                            }else{
                                // Hide the representative-text-size div and display the outside-modal div
                                $(".dividebuy-representative-text.representative-text-size").hide();
                                $(".dividebuy-representative-text.outside-modal").fadeIn();
                                
                            }
                            $("#dividebuy-lowest").html(tooltip_text);
                            $(".dividebuy-calculator").fadeIn();
                        }
                });

                var url = '<?php echo $this->getUrl("dbproduct/index/displayproducttooltip"); ?>';
                $.ajax({
                    type: 'post',
                    url: url,
                    data: {price: productPrice, tooltipType: "product"},
                    success: function (data) {
                        if (data !== "") {
                            $(".dividebuy-tooltip-content").html(data);
                        }
                    }
                });
            }

            var softSearchHtml = '<?php echo $softSearchHtml ?? ''; ?>';
            $(document).on('click', '.link-dividebuy-softsearch-product', function () {
                if(!browserHistory){
                    browserHistory = history.length;
                }
                jQuery("#dividebuy-shipping-loader").show();
                jQuery('#dividebuy-modal').modal('openModal');
                var splashKeyUrl = '<?php echo $this->getUrl("softsearch/index/getsoftsearchsplashkey"); ?>';
                getSoftsearchSplashKey(price, splashKeyUrl);
                jQuery(".modals-wrapper").addClass("dividebuy-softcredit");
                jQuery(".custom-modal").addClass("soft-search");
            });

            jQuery('#dividebuy-modal').on('modalclosed', function (e) {
                jQuery(".modals-wrapper").removeClass("dividebuy-softcredit");
                jQuery(".custom-modal").removeClass("soft-search");
                var softsearchIframeSrc = jQuery('#frame-dividebuy-softcredit-check').attr('src');
            });

            $(document).ready(function() {

                // Event delegation for swatches (color, size, etc.)
                $(document).on('click', '.swatch-option', function() {
                    updatePrice();
                });

                // Event delegation for select dropdowns
                $(document).on('change', '.swatch-select', function() {
                    updatePrice();
                });

                $('.super-attribute-select').change(function() { 
                    updatePrice();
                });

                // Function to gather selected options and make AJAX call
                function updatePrice() {
                    var selectedOptions = {};
                    $('.super-attribute-select').each(function() {
                        var attributeId = $(this).attr('name').replace('super_attribute[', '').replace(']', '');
                        var optionId = $(this).val();
                        if(optionId){
                            selectedOptions[attributeId] = optionId;
                        }
                        
                    });

                    // Product ID of the configurable product
                    var productId = '<?php echo $blockObj->getProductId(); ?>'; 

                    // AJAX call to fetch the price for selected options
                    $.ajax({
                        url: '<?php echo $this->getUrl('dbproduct/index/price'); ?>', // URL of the custom controller
                        type: 'POST',
                        data: {
                            product_id: productId,
                            selected_options: selectedOptions
                        },
                        success: function(response) {
                            if (response.success) {
                                // Update the tooltip
                                displayProductTooltip(response.final_price);
                            } 
                        },
                    });
                }
            });
        }
    );
</script>

<style type="text/css">
    .dividebuy-representative-text{
        float: left;
        font-size: 13px;
        line-height: 18px;
        padding-bottom: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .dividebuyNote{
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        background: rgba(0, 179, 227, 0.2);
        margin-top: 4px;
    }
    .dividebuy #dividebuy-text{
        text-align: left;
    }
</style>