<?php $_product = $block->getProduct() ?>
<?php if ($_product->isSaleable() && $block->hasOptions()): ?>
    <div class="bundle-actions">
        <button id="bundle-slide"
                class="action primary customize"
                type="button">
      <span><?php /* @escapeNotVerified */
        echo __('Customize and Add to Cart'); ?></span>
        </button>
      <?php echo $this->getChildHtml('', true); ?>
    </div>
<?php endif; ?>
