<?php
$blockObj= $block->getLayout()->createBlock('Dividebuy\CheckoutConfig\Block\Cart');
$retailerHasInterestBearingInstalments = $blockObj->retailerHasInterestBearingInstalment();

$data              = $instalment;
$instalmentDetails = $data[0];
$price = $data[1]; 
$shortErrorMessage="";
usort($instalmentDetails, function ($a, $b) {
    return $a['key'] <=> $b['key'];
});

$installments_details = array();
$regulated = '';
$unregulated = '';
echo '<div class="dividebuyTable">';
echo '<div class="dividebuyTableBody">';
echo '<div class="dividebuyTableRow dividebuyTableRowhead">';
echo '<div class="dividebuyTableCell dividebuyTableCellmonth">Months</div>';
echo '<div class="dividebuyTableCell">In Total <br /> You’ll Pay</div>';
if ($retailerHasInterestBearingInstalments) {
    echo '<div class="dividebuyTableCell">Fixed Interest<br />Rate/APR</div>';
}
echo '<div class="dividebuyTableCell">Monthly Payment</div></div>';
foreach ($instalmentDetails as $instalment) {
    if($instalment['key'] <= 12 && $instalment['interest_rate'] == 0){
        $installments_details = $blockObj->calculateInstalmentAmountsForLoan($price, $instalment['interest_rate'] / 100, $instalment['key']);
        if($price >= $instalment['min'] && $price <= $instalment['max']){
            $unregulated .= '<div class="dividebuyTableRow">';
            $unregulated .= '<div class="dividebuyTableCell dividebuyTableCellmonth">' . $instalment['key'] . '</div>';
            if($instalment['interest_rate'] > 0){
                $unregulated .= '<div class="dividebuyTableCell">£'.number_format($installments_details['totalToPay'], 2) .'</div>';
            }
            else{
                $unregulated .= '<div class="dividebuyTableCell">£'.number_format($installments_details['totalAmount'], 2) .'</div>';
            }
            if ($retailerHasInterestBearingInstalments) {
                $unregulated .= '<div class="dividebuyTableCell">'.number_format($instalment['interest_rate'], 2) .'%</div>';
            }
            $unregulated .= '<div class="dividebuyTableCell">£'.number_format($installments_details['regularMonthlyInstalment'],2) .'</div></div>';
        }
        else{
            $shortErrorMessage = $price < $instalment['min']
            ? "<p>Only available above <span class='dividebuy-ibc-price'>£".number_format($instalment['min'])."</span></p>"
            : "<p>Only available below <span class='dividebuy-ibc-price'>£".number_format($instalment['max'])."</span></p>";


            $unregulated .= '<div class="dividebuyTableRow dividebuy-instalment-disabled" >';
            $unregulated .= '<div class="dividebuyTableCell dividebuyTableCellmonth">' . $instalment['key'] . '</div>';
            $unregulated .= '<div class="dividebuyTableCell dividebuy-message">' . $shortErrorMessage . '</div>';
            if ($retailerHasInterestBearingInstalments) {
                $unregulated .= '<div class="dividebuyTableCell">'.number_format($instalment['interest_rate'], 2) .'%</div>';   
            }
            $unregulated .= '<div class="dividebuyTableCell">£'.number_format($installments_details['regularMonthlyInstalment'],2) .'</div></div>';
        }
    }else{
        $installments_details = $blockObj->calculateInstalmentAmountsForLoan($price, $instalment['interest_rate'] / 100, $instalment['key']);
        if($price >= $instalment['min'] && $price <= $instalment['max']){
            $regulated .='<div class="dividebuyTableRow">';
            $regulated .='<div class="dividebuyTableCell dividebuyTableCellmonth">' . $instalment['key'] . '</div>';
            if($instalment['interest_rate'] > 0){
                $regulated .='<div class="dividebuyTableCell">£'.number_format($installments_details['totalToPay'], 2) .'</div>';
            }
            else{
                $regulated .='<div class="dividebuyTableCell">£'.number_format($installments_details['totalAmount'], 2) .'</div>';
            }
            
            if ($retailerHasInterestBearingInstalments) {
                $regulated .='<div class="dividebuyTableCell">'.number_format($instalment['interest_rate'], 2) .'%</div>';
            }
            $regulated .='<div class="dividebuyTableCell">£'.number_format($installments_details['regularMonthlyInstalment'],2) .'</div></div>';
        }
        else{
            $shortErrorMessage = $price < $instalment['min']
            ? "<p>Only available above <span class='dividebuy-ibc-price'>£".number_format($instalment['min'])."</span></p>"
            : "<p>Only available below <span class='dividebuy-ibc-price'>£".number_format($instalment['max'])."</span></p>";


            $regulated .='<div class="dividebuyTableRow dividebuy-instalment-disabled" >';
            $regulated .='<div class="dividebuyTableCell dividebuyTableCellmonth">' . $instalment['key'] . '</div>';
            $regulated .='<div class="dividebuyTableCell dividebuy-message">' . $shortErrorMessage . '</div>';
            if ($retailerHasInterestBearingInstalments) {
                $regulated .='<div class="dividebuyTableCell">'.number_format($instalment['interest_rate'], 2) .'%</div>';   
            }
            $regulated .='<div class="dividebuyTableCell">£'.number_format($installments_details['regularMonthlyInstalment'],2) .'</div></div>';
        }
    } 
}

echo ($unregulated != "") ? '<div class="dividebuyTableRow"><div class="dividebuyTabelCellFinanceLabel">Unregulated Finance*</div></div>'.$unregulated : '';
echo ($regulated != "") ? '<div class="dividebuyTableRow"><div class="dividebuyTabelCellFinanceLabel">Regulated Finance</div></div>'.$regulated : '';
echo '</div></div>'; 
?>

<style type="text/css">
    .dividebuy-instalment-disabled .dividebuyTableCell, .dividebuyTableHead {
        color: #999999 !important;
    }
    .dividebuy-instalment-disabled{
        margin-top: 0;   
    }
</style>